
header{

display:flex;
justify-content: space-between;


}

#header-left{

    display: flex;
    flex-direction: row;
}

#fork-knife-logo{

height:48px;
width: 48px;

}

#header-text{

display: flex;
flex-direction: column;

}

ul{

    display: flex;
    
}


[alt="rss icon"]{

    margin-left: 7px;
}


ul *{

    margin-left: 1px;

}